@font-face {
  font-family: "Valentine"; /* Choose a name for your font */
  src: url("./fonts/Valentine.otf"); /* Specify the correct path and format */
  font-weight: normal; /* Define the font weight (e.g., normal, bold, 400, 700) */
  font-style: normal; /* Define the font style (e.g., normal, italic) */
}

@import "tailwindcss";

@theme {
  --font-valentine: "Valentine", cursive; /* Define a custom property for your font */

  --animate-float: float 5s ease-in-out infinite;
  
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8px); /* Adjust the float height as needed */
    }
  }
}